* {margin:0; padding:0;}

.menuPrincipal .registrarse{
    background-color: #77c4ad27;
}

/* FORMULARIO */
.contenedorForm{
    display: block;
    width: 623px;
    height: 520px;  
    text-align: center;
    padding: 30px;
    left: 0;
    top: 53px;
    bottom: 100px;
    background: #fff;
    animation-duration: 2s;
    animation-name: aparecerFormulario;
}

@keyframes aparecerFormulario{
    0% {opacity: 0;}
    100% {opacticy: 1;}
    0% {height: 0;}
    100% {height: 1;}
}

label{
    position: relative;
    color:#2D918E;
    text-align: center;
    font-size: 15px;
    font-family: Sarabun;
    animation-duration: 2s;
    animation-name: aparecerFormulario2;
}

@keyframes aparecerFormulario2{
    0% {opacity: 0;}
    100% {opacticy: 1;}
    0% {height: 0;}
    100% {height: 1;}
}

#Nombre, #E-mail, #Contraseña, #checkbox, #botonEnviar {
    position: relative;
    top: 180px;
    z-index: 10;
    animation-duration: 2s;
    animation-name: aparecerFormulario2;
} 

@keyframes aparecerFormulario2{
    0% {opacity: 0;}
    100% {opacticy: 1;}
    0% {width: 0;}
    100% {width: 1;}
}

#Nombre, #E-mail, #Contraseña {
    color:#2D918E;
    width: 400px;
    text-align: left;
    font-size: 18px;
    font-family: Sarabun;
    margin: 0px;
    padding: 4px;
    border: 1px solid rgba(90, 90, 90, 0.363);
    animation-duration: 2s;
    animation-name: aparecerFormulario2;
}

@keyframes aparecerFormulario2{
    0% {opacity: 0;}
    100% {opacticy: 1;}
    0% {width: 0;}
    100% {width: 1;}
}

#botonEnviar{    
    margin-top: 30px;
    color:#1D5E5C;
    width: 200px;
    height: 30px;
    border: 1px solid rgba(51, 105, 104, 0.397);
    font-family: Sarabun;
    background: none;
    animation-duration: 2s;
    animation-name: aparecerFormulario2;
    z-index: 101;
}

@keyframes aparecerFormulario2{
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacticy: 1;}
    0% {width: 0;}
    100% {width: 1;}
}

.tituloNasif{
    display: flex;
    position: absolute;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: Sarabun;
    font-weight: 800;
    color: rgba(71, 71, 71, 0.247);
    top: 100px;
    left: 315px;
    z-index: 100;
    animation-name: aparecerNasif;
    animation-duration: 2s;
}

@keyframes aparecerNasif{
    0% {opacity: 0;}
    30% {opacity: 0;}
    100% {opacticy: 1;}
}

.contenedorImg{
    position: absolute;
    overflow: hidden;
    height: 570px;
    width: 600px;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.imgRegistrarse{
   position: absolute;
   max-height: 500px;
   width: auto;
   right: 188px;
   bottom: 60px;
   z-index: -1;
   animation-duration: 2s;
   animation-name: aparecerImagen;
   }

   @keyframes aparecerImagen{
    0% {transform: translateX(100%); opacity: 0;}
    50% {opacity: 1;}
    100% {transform: translateX(0);}
 } 

.contenedorFlor{
    position: absolute;
    width: 500px;
    height: 400px;
    left: -45px;
    top: 180px;
    z-index: 1;
    overflow: hidden;
}

 .florRegistrarse{
    position: absorelute;
    max-width: 290px;
    height: auto;
    top: 280px;
    transform: rotate(-35deg);
    opacity: 1;
    animation-duration: 3.7s;
    animation-name: aparecerFlor;
    z-index: 1;
 }

 @keyframes aparecerFlor{
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacticy: 1;}
}

/* ------------ DISPOSITIVO MÓVIL ------------ */
@media screen and (max-width: 425px){
    #menuPrincipal a{display: none;}
    #contenedorFooter{display: none;}
    .imgRegistrarse{display: none;}
    .contenedorImg{display: none;}
    
    .contenedorFlor{
        width: 75%;
        height: 402px;
        top: 0;
        left: 0;
    }

    .florRegistrarse{
        max-width: 270px;
        transform: rotate(-25deg);
        left:50px;
        z-index: 1;
    }

    .contenedorForm{
        width: 100%;
        height: 100vh;
        padding: 0;
        z-index: 1;
    }

    #Nombre, #E-mail, #Contraseña {
        width: 75%;
    }

    .tituloNasif{
        top:80px;
        left: 44%;
        color: rgb(196, 194, 194);
        z-index: 100;
    }
}

@media screen and (max-width: 375px){
    .imgRegistrarse{display: none;}
    .contenedorImg{display: none;}
    .contenedorFlor{
        width: 75%;
        height: 402px;
        top: 0;
        left: 0;
    }

    .florRegistrarse{
        max-width: 270px;
        transform: rotate(-25deg);
        left:50px;
        z-index: 1;
    }

    .contenedorForm{
        width: 100%;
        height: 100vh;
        padding: 0;
        z-index: 1;
    }

    #Nombre, #E-mail, #Contraseña {
        width: 75%;
    }

    .tituloNasif{
        top:80;
        left: 43%;
        color: rgb(196, 194, 194);
        z-index: 100;
    }
}

@media screen and (max-width: 320px){
    .imgRegistrarse{display: none;}
    .contenedorImg{display: none;}
    .contenedorFlor{
        width: 75%;
        height: 402px;
        top: 0;
        left: -30px;
    }

    .florRegistrarse{
        max-width: 270px;
        transform: rotate(-25deg);
        left:10px;
        z-index: 1;
    }

    .contenedorForm{
        width: 100%;
        height: 100vh;
        padding: 0;
        z-index: 1;
    }

    #Nombre, #E-mail, #Contraseña {
        width: 75%;
    }

    .tituloNasif{
        top: 80px;
        left: 42%;
        color: rgb(196, 194, 194);
        z-index: 100;
    }
}